.DS_Store

# no need to check virtualenv into VCS
venv/*

# hide sensitive ansible files
infra/password_file

# hide the group and host var files
infra/group_vars/all.yml
infra/host_vars/**/*.yml

# hide non-sample files and templates in roles
infra/roles/**/files/*
infra/roles/**/templates/*

# make sure we keep READMEs, samples, and gitkeep files
!infra/**/.gitkeep
!infra/**/README
!infra/**/*.sample
